// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Custom button styles
@mixin custom-button(){
	background-color: #eb163d;
	color: #fff;
	border-radius: 25px;
	border: 2px solid #eb163d;
	padding: 0.8rem 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 0.1rem;
		&:hover, &:active, &:visited, &:focus {
			background-color: #e44a66;
			border: 2px solid #e44a66;
			color: #fff;
		}
}
