/* animation styles */

.tagline {
  opacity: 0;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.start {
  animation-delay: 0;
}

.middle {
  animation-delay: 800ms;
}

.finish {
  animation-delay: 1600ms;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
