.scrollToTop {
    position: fixed;
    right: 4.75vw;
    bottom: 40px;
    padding: 10px;
    display: none;
    border-bottom: none;
    background-color: white;
    font-size: 1.5rem;
}

footer {
    background-color: #F1F1EF;
    margin-top: 5vw;
    padding: 5vw 5vw 1vw 5vw;
    // border-top: 1px solid black;
}

// .mariam {
//   font-weight: 600;
//   max-width: 500px;
//   min-width: 100px;
// }

footer h2 {
  font-size: 1em;
  line-height: 0.5em;
}

footer a {
  transition: 0.4s ease-out;
}

.email {
  margin-bottom: 8vh;
}

.email a {
  font-size: 1em;
  font-weight: 600;
}

.social ul {
  float: right;
  display: flex;
  list-style: none;
  margin: 0;
}

.social a {
  padding-left: 1vh;
  font-size: 1.5rem;
  border: none;
  color: black;
}

.social a:hover, a:focus, a:active {
  color: $hover-gray;
}

.made {
  font-size: 0.9em;
  line-height: 0.5em;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 700px) {
  footer {
    padding-top: 3rem;
  }
  footer h2 {
    font-size: 1.7rem;
  }

  .email a {
    font-size: 1.7em;
  }

  .social a {
    font-size: 2rem;
  }
}
