@charset "utf-8";

/* resets */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 1920px;
}

.content-area {
  margin-top: 10rem;
	min-height: 60vh;
}

header, main, footer, .container {
	padding: 0 1.5rem;
}

@media only screen and (min-width: 800px) {
	header, main, footer, .container {
		padding: 0 4rem;
	}
}

@media only screen and (min-width: 1600px) {
	header, main, footer, .container {
		padding: 0 15rem;
	}
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

h1, h2, h3, p, ul {
  margin-top: 0;
}

ul {
  padding: 0;
}

/* screen readers/accessibility */
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

/* variables */
$pink: #f1576e;
$brand-color: #1bcfe0;
$hover-gray: #999;
$background-gray: #F1F1EF;

// layout variables
$header-height: 60px;
