@charset "utf-8";

/* resets */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// main {
//   max-width: 1920px;
// }

.content-area {
  margin-top: 7rem;
	min-height: 60vh;
}

header, main, footer, .container {
	padding: 0 1.5rem;
}

@media only screen and (min-width: 800px) {
	header, main, footer, .container {
		padding: 0 4rem;
	}
  main {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
	header, main, footer, .container {
		padding: 0 15rem;
	}
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

h1, h2, h3, p, ul {
  margin-top: 0;
}

ul {
  padding: 0;
}

.entry-title {
  padding-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.7rem;
}

.subtitle {
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

input, textarea {
  background-color: white;
  border: 2px solid black;
  border-radius: 0;
}

/* screen readers/accessibility */
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

/* variables */
// $pink: #f1576e;
// $brand-color: #1bcfe0;
$brand-color: #eb163d;
$hover-gray: #999;
$background-gray: #F1F1EF;

// layout variables
$header-height: 70px;

// general page layout
.entry-content {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 800px) {
  .page-layout {
    display: flex;
  }

  .entry-content {
    // width: 60%;
    padding-right: 4rem;
  }

  // contact page
  .contact-wrapper {
    display: flex;
  }

  form {
    width: 400px;
    margin-right: 4rem;
  }

  .contact-info {
    padding-left: 2rem;
  }

  .contact-info h2 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }

  .contact-social ul {
    list-style: none;
    display: flex;
  }

  .contact-social li {
    padding-left: 0;
    padding-right: 1rem;
  }

  .contact-social a {
    border-bottom: none;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 799px) {
  .contact-info {
    display: none;
  }
}

// about pages
.post-thumbnail img {
  border-radius: 50%;
}
