// .background-landing {
//   background-color: black;
// }

header {
  // background: black;
  // color: white;
  background: #F1F1EF;
  display: flex;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: flex-end;
  // margin: 0 5vw;
  padding: 0 5vw;
}

header img {
  width: 2.5em;
  webkit-filter: invert(1);
  filter: invert(1);
}

.heading-name {
  text-transform: lowercase;
  font-weight: 500;
  padding-left: 1rem;
  margin: 0;
}

header a {
  border: none;
  // display: block;
}

.heading {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

// Invert Colours on scroll
// via a class added by jquery
// header.invert {
//
//   background: white;
//   color: black;
//
//   img {
//     -webkit-filter: invert(1);
//     filter: invert(1);
//   }
//
// }
