/* landing styles */
main {
  margin-top: $header-height;
}

.landing {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing h1 {
  margin-bottom: 0.4em;
  font-weight: 600;
}

.landing p {
  max-width: 500px;
  font-weight: 500;
  margin: 0 auto;
}

/* tagline styles */
.heart-logo {
  width: 100px;
  height: auto;
  margin: 3rem 0;
}

.half-heart {
  fill: #3adb40;
  animation: cycleColour 6s infinite both;
}

@keyframes cycleColour {

  // 0% {
  //   fill: white;
  // }

  25% {
    fill: $brand-color;
  }

  50% {
    fill: $pink;
  }

  75% {
    fill: #F5C240;
  }
}

// Bottom Landing section
.bottom-landing-section {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

/* button/arrow styles */
.button {
  border: none;
  color: white;
  background-color: $brand-color;
  padding: 0.8em 3em;
  border-radius: 13px;
  font-weight: 600;
}

a:active.button, a:visited.button, a:hover.button {
  color: white;
}
