/* portfolio styles */
.container {
  padding-top: 5rem;
  padding-bottom: 2rem;
  // margin: 2.5rem 0;
}

// a.container {
//     display: block;
//     position: relative;
//     top: -500px;
//     visibility: hidden;
// }

/* general box styles */
.box {
  border-bottom: none;
  width: 100%;
  padding: 0.9rem 0;

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .box {
    width: 50%;
    padding: 0.9rem 1.1rem;
  }
}

.box:visited,
.box:hover,
.box:focus {
  border-bottom: none;
}

/* box text styles */
.box {
  h2 {
    font-size: 1.5em;
    margin-bottom: 8vh;
    color: black;
    font-weight: 600;
  }
  p {
    font-size: 0.85em;
    margin: 0;
    line-height: 2.5em;
    color: black;
  }
}

/* filter styles */
.filters ul {
  // padding: 0 0 5vw 0;
  padding: 0;
  margin: 0;
}

.filters li {
  list-style: none;
  min-width: 320px;
}

@media only screen and (min-width: 925px) {
  .filters {
        padding-top: 0.5rem;
  }

  li {
    padding-left: 0.5rem;
  }
}

.filters a {
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  border-bottom: none;
}

.filters a:hover {
  color: $hover-gray;
}

a:hover.filters {
  color: $hover-gray;
}

/* grid styles */
@media only screen and (min-width: 925px) {
  // filters / container grid
  .container {
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .filters {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  // grid overlay styles
  .box {
    text-decoration: none;
    overflow: hidden;
  }

  .box img {
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .content {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.1s;
  }

  .box:hover .content {
    opacity: 1;
  }

  .overlay {
    background: rgba(255,255,255,0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .box .content-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 16px 0 16px;
    padding-left: 1.2em;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out 0.3s;
  }

  .content-text h2 {
    margin-bottom: 1.5rem;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
  }

  .content-text p {
    padding-left: 0.7rem;
    font-size: 0.8em;
    line-height: 1.5rem;
  }

  .box:hover .content-text,
  .box:focus .content-text {
    transform: translateY(0);
  }
}
