// project header
.project-title {
  font-weight: 600;
}

.project-main {
  position: relative;
  width: 100%;
  text-align: right;
}

.project-main-image {
  height: 475px;
  object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .project-main-image {
    width: 70%;
  }
}

@media only screen and (min-width: 960px) {
  .project-main-image {
    width: 85%;
  }
}

.project-main-text {
  position: absolute;
  background-color: $background-gray;
  top: 40%;
  transform: translateY(-25%);
  max-width: 475px;
  padding: 2rem;
  text-align: left;
}

// project info
.project-details, .project-colors, .project-images {
  margin-top: 4rem;
}

.project-writeup {
  margin-top: 4rem;
}

@media only screen and (min-width: 750px) {
  .project-details {
    display: flex;
  }

  .project-writeup {
    margin-top: 0;
  }
}

.project-images {
  margin-bottom: 4rem;
}

// project section styles
.project-tools {
  min-width: 30%;
  li {
    list-style: none;
    padding: 0;
  }
}

.project-colors {
  li {
    list-style: none;
    width: 100%;
    min-height: 100px;
    padding-top: 2rem;
  }

  li:first-child {
    padding-top: 0;
  }
}

.color-block {
  width: 100%;
  min-height: 100px;
}

.project-images img {
  width: 100%;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 750px) {
  .colors {
    display: flex;
  }

  .project-colors {
    li {
      padding: 0;
      padding-right: 2rem;
    }

    li:last-child {
      padding-right: 0;
    }
  }
}

// post navigation
.post-navigation {
  display: flex;
  justify-content: space-between;
}

.next-post {
  justify-content: flex-end;
}
